<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="XJ6oqUod0YUMUzWMih3Anlz6k5QSxBXCY9nyA9RO">

    <title>Boa Vida | CI</title>
    <!-- <link rel="icon" href="/img/favicon.ico" type="image/x-icon"> -->

    <!-- Scripts -->
    <script src="http://localhost:8000/js/app.js" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">

    <!-- Styles -->
    <link href="http://localhost:8000/css/app.css" rel="stylesheet">
    <link href="http://localhost:8000/css/styles.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-dark bg-deg-dark shadow align-items-center">
            <div class="container">
                <a class="navbar-brand pr-2" href="http://localhost:8000/home">
                    Boa Vida | CI
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item pr-2">
                            <a class="nav-link" href="http://localhost:8000/products" role="button">
                                <div class="d-flex align-items-center">
                                    <i class="material-icons-round pr-2 md-18"> star_rate </i>
                                    Productos
                                </div>
                            </a>
                        </li>
                        <li class="nav-item pr-2">
                            <a class="nav-link" href="http://localhost:8000/supplies" role="button">
                                <div class="d-flex align-items-center">
                                    <i class="material-icons-round pr-2 md-18"> category </i>
                                    Insumos
                                </div>
                            </a>
                        </li>
                        <li class="nav-item pr-2">
                            <a class="nav-link" href="http://localhost:8000/sales" role="button">
                                <div class="d-flex align-items-center">
                                    <i class="material-icons-round pr-2 md-18"> attach_money </i>
                                    Ventas
                                </div>
                            </a>
                        </li>
                        <li class="nav-item pr-2">
                            <a class="nav-link" href="http://localhost:8000/suppliers" role="button">
                                <div class="d-flex align-items-center">
                                    <i class="material-icons-round pr-2 md-18"> local_shipping </i>
                                    Proveedores
                                </div>
                            </a>
                        </li>
                        <li class="nav-item pr-2">
                            <a class="nav-link" href="http://localhost:8000/users" role="button">
                                <div class="d-flex align-items-center">
                                    <i class="material-icons-round pr-2 md-18"> people </i>
                                    Usuarios
                                </div>
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item pr-2">
                            <div class="btn-group">
                                <a class="btn btn-dark" href="http://localhost:8000/users" role="button">
                                    <div class="d-flex align-items-center">
                                        <i class="material-icons-round pr-2 md-18"> person </i>
                                        Administrador
                                    </div>
                                </a>
                                <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only"> Toggle navigation </span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex align-items-center">
                                            <i class="material-icons-round pr-2 md-18"> settings </i>
                                            Ajustes
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="http://localhost:8000/logout"
                                        onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                        <div class="d-flex align-items-center">
                                            <i class="material-icons-round pr-2 md-18"> power_settings_new </i>
                                            Cerrar sesión
                                        </div>
                                    </a>
                                    <form id="logout-form" action="http://localhost:8000/logout" method="post"
                                        class="d-none">
                                        <input type="hidden" name="_token"
                                            value="XJ6oqUod0YUMUzWMih3Anlz6k5QSxBXCY9nyA9RO">
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="pt-4">
            <div class="container pt-2">
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <div class="card shadow-lg">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="font-weight-bold"> Agregar producto </div>
                                    <div>
                                        <a class="btn-v2 btn-deg-dark shadow-sm px-2"
                                            href="http://localhost:8000/products" role="button">
                                            <div class="d-flex align-items-center">
                                                <i class="material-icons-round  pr-2  md-18"> arrow_back </i>
                                                Atrás
                                            </div>

                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body my-2 pb-1 ml-5 mr-4 px-0">
                                <form method="post" action="http://localhost:8000/products">
                                    <input type="hidden" name="_token" value="XJ6oqUod0YUMUzWMih3Anlz6k5QSxBXCY9nyA9RO">
                                    <div class="form-group row">
                                        <label for="name" class="col-md-5 col-form-label text-md-left">
                                            <div class="d-flex align-items-center">
                                                <i class="material-icons-round  pr-3  md-auto"> font_download </i>
                                                Nombre
                                            </div>

                                        </label>
                                        <div class="col-md-6">
                                            <div>
                                                <input id="name" type="text" class="form-control " name="name" value=""
                                                    required autocomplete="name" autofocus>

                                            </div>

                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="quantity" class="col-md-5 col-form-label text-md-left">
                                            <div class="d-flex align-items-center">
                                                <i class="material-icons-round  pr-3  md-auto"> workspaces </i>
                                                Cantidad
                                            </div>

                                        </label>
                                        <div class="col-md-6">
                                            <div>
                                                <input id="quantity" type="text" class="form-control " name="quantity"
                                                    value="" required autocomplete="quantity" autofocus>

                                            </div>

                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="price" class="col-md-5 col-form-label text-md-left">
                                            <div class="d-flex align-items-center">
                                                <i class="material-icons-round  pr-3  md-auto"> attach_money </i>
                                                Precio
                                            </div>

                                        </label>
                                        <div class="col-md-6">
                                            <div>
                                                <input id="price" type="text" class="form-control " name="price"
                                                    value="" required autocomplete="price" autofocus>

                                            </div>

                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="manufacturing_date" class="col-md-5 col-form-label text-md-left">
                                            <div class="d-flex align-items-center">
                                                <i class="material-icons-round  pr-3  md-auto"> event_available </i>
                                                Fecha de elaboración
                                            </div>

                                        </label>
                                        <div class="col-md-6">
                                            <div>
                                                <input id="manufacturing_date" type="text" class="form-control "
                                                    name="manufacturing_date" value="" autocomplete="manufacturing_date"
                                                    autofocus>

                                            </div>

                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="expiry_date" class="col-md-5 col-form-label text-md-left">
                                            <div class="d-flex align-items-center">
                                                <i class="material-icons-round  pr-3  md-auto"> event_busy </i>
                                                Fecha de vencimiento
                                            </div>

                                        </label>
                                        <div class="col-md-6">
                                            <div>
                                                <input id="expiry_date" type="text" class="form-control "
                                                    name="expiry_date" value="" autocomplete="expiry_date" autofocus>

                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="row justify-content-center py-0">
                                    <button type="submit" class="btn-v2 btn-deg-dark-blue shadow-sm px-2">
                                        <div class="d-flex align-items-center">
                                            <i class="material-icons-round  pr-2  md-18"> check_circle </i>
                                            Agregar
                                        </div>

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>
</body>

</html>
