/* Clases personalizadas */
body {
    background: linear-gradient(#ff9966, #ff5e62);
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-v2 {
    border-radius: 4px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: 300ms background-position ease-in-out;
    -o-transition: 300ms background-position ease-in-out;
    transition: 300ms ease-in-out;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    user-select: none;
    outline: 0 !important;
}

.btn-deg-red {
    color: white;
    background-color: #f37a65;
    background-image: linear-gradient(340deg, #d64242 0%, #f37a6500 100%);
}

.btn-deg-red:hover{
    color: white;
    background-color: #d64242;
    text-decoration: none;
}

.btn-deg-orange {
    color: white;
    background-color: #ffc170;
    background-image: linear-gradient(340deg, #fd8e44 0%, #f37a6500 100%);
}

.btn-deg-orange:hover {
    color: white;
    background-color: #fd8e44;
    text-decoration: none;
}

.btn-deg-dark {
    color: white;
    background-color: #56606b;
    background-image: linear-gradient(340deg, #343a40 0%, #f37a6500 100%);
}

.btn-deg-dark:hover {
    color: white;
    background-color: #343a40;
    text-decoration: none;
}

.bg-deg-dark {
    background-color: #343a40;
    background-image: linear-gradient(175deg, #56606b6a 0%, #f37a6500 100%);
}

.btn-deg-dark-gray {
    color: #fff;
    background-color: #77a0aa;
    background-image: linear-gradient(340deg, #527681 0%, #f37a6500 100%);
}

.btn-deg-dark-gray:hover {
    color: white;
    background-color: #527681;
    text-decoration: none;
}

.btn-deg-dark-blue {
    color: #fff;
    background-color: #1c91de;
    background-image: linear-gradient(340deg, #1f48ab 0%, #f37a6500 100%);
}

.btn-deg-dark-blue:hover {
    color: white;
    background-color: #1f48ab;
    text-decoration: none;
}

.btn-purple-moon {
    background: #4e54c8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #8f94fb, #4e54c8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #8f94fb, #4e54c8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 1px solid #eee;
}

.btn-cool-blues {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 1px solid #eee;
}

.btn-deg-green {
    color: #fff;
    background: #40ac9a;
    background: -webkit-linear-gradient(135deg, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(160deg, #6bd495, #40ac9a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #eee;
}

.btn-deg-pink {
    color: #fff;
    background: #d44269;
    background: -webkit-linear-gradient(135deg, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(160deg, #f55e6f, #d44269);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #eee;
}

.btn-deg-red2 {
    color: #fff;
    background: #1f48ab;
    background: -webkit-linear-gradient(135deg, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(160deg, #f37a65, #d64242);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #eee;
    background-image: linear-gradient(to left top, #f37a6500 0, #f37a65 100%);
}

.btn-deg-green-1 {
    color: #fff;
    background-color: #9fbe46;
    background-image: linear-gradient(160deg, #bfda4d 0%, #f37a6500 100%);
}

.btn-deg-green-2 {
    color: #fff;
    background-color: #76b88c;
    background-image: linear-gradient(160deg, #b8db55 0%, #f37a6500 100%);
}

.btn-deg-darkest-blue {
    color: #fff;
    background-color: #0e074b;
    background-image: linear-gradient(160deg, #110a66 0%, #f37a6500 100%);
}

.btn-deg-gray {
    color: #fff;
    background-color: #7b9ca5;
    background-image: linear-gradient(160deg, #91a6ae 0%, #f37a6500 100%);
}

.btn-vue-green {
    color: #fff;
    background: #42b883;
}

.btn-vue-green:hover {
    color: #fff;
    background-color: #227dc7;
    border-color: #2176bd;
}

.material-icons-round.md-18 {
    font-size: 18px;
}

.material-icons-round.md-auto {
    font-size: auto;
}

.material-icons-round.bg-blue {
    color: #289fee;
}

.fake-input {
    border: 1px solid #ced4da9b;
    border-radius: 0.25rem;
}

th {
    border-top: 0px !important;
}

td {
    vertical-align: middle !important;
}
